<!DOCTYPE html>
<html>
<head>
    <title>xFleet Site Map</title>    
    <link rel="stylesheet" href="styles/screen.css">
    <link rel="stylesheet" href="styles/divSpecialStyles.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>

    
<body ng-app='xFleetSiteMap'>
    <header>
    <h1>xFleet Site Map</h1>
    </header>
    <div id="mainDiv" ng-controller="MainController">
        <div id="siteMap" >
            <table>
                <thead>
                    <tr>
                        <th ng-repeat="topMenu in sitemap track by topMenu.header">{{topMenu.header}}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="(index1,row) in tableRows">
                        <td ng-repeat="(index2,tableItem) in row track by $index"
                            ng-click="retrieveJSfiles(index1,index2)">{{tableItem}}</td>
                    </tr> 
                </tbody>
            </table>
        </div>

        <!--The panel that controls the details for each webpage of the application. -->
        <div id="details">
            <div id="navigationPanel">
                <ul>
                    <li ng-repeat="detailSource in detailSources" 
                        ng-click="selectTabHandler(detailSource)"
                        ng-class="{'selectedLink' : detailSource.selected}">{{detailSource.li}}</li>
                </ul>
            </div>

            <!-- Here is where the contents of each tab are displayed. ng-include="activeContent.url"-->
            <div id="detailContents" ng-show="detailSources[1].selected">
                <table>
                    <thead>
                        <tr>
                            <th>Datei</th>
                            <th>Aktuelle Version</th>
                            <th>xFleet Version</th>
                            <th>Beschreibung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="javaScriptFile in javaScriptFiles">
                            <td>{{javaScriptFile.fileName}}</td>
                            <td>{{javaScriptFile.latestVersion}}</td>
                            <td>{{javaScriptFile.currentVersion}}</td>
                            <td>{{javaScriptFile.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/JavaScript" src="js/jquery-2.1.1.js"></script>
    <script type="text/JavaScript" src="https://code.angularjs.org/1.2.9/angular.js"></script>
    <script type="text/JavaScript" src="js/main.js"></script> 
</body>    
</html>
