<!DOCTYPE html>
<html>
<head>
    <title>xFleet Site Map</title>    
    <link rel="stylesheet" href="styles/screen.css">
    <link rel="stylesheet" href="styles/divSpecialStyles.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>

    
<body ng-app='xFleetSiteMap'>
    <header>
    <h1>xFleet Site Map</h1>
    </header>
    
    <div id="siteMap">
        <table>
            <tbody>
                <tr>
                    <th>Neufahrzeug</th>
                    <td>So funktioniert’s</td>
                    <td>Mein Parkplatz</td>
                    <td>Funktionsparkplatz</td>
                </tr>
                <tr>
                    <th rowspan="3">Leistungen</th>
                    <td>Car Policy</td>
                    <td>Service Umfang</td>
                    <td>Tankkarte</td>
                    <td>Versicherung/ SchadenManagement</td>
                </tr>
                <tr>
                    <td>Diebstahl/Verlust</td>
                    <td>Rückgabe</td>
                    <td>Europa</td>
                    <td>Wichtige Adressen</td>
                </tr>
                <tr>
                    <td>Dokumente</td>
                </tr>
                <tr>
                    <th>Bestellungen</th>
                    <td>Bestellfreigabe</td>
                    <td>Bestellübersicht</td>
                </tr>
                <tr>
                    <th rowspan="2">Management</th>
                    <td>Fahrermanagement</td>
                    <td>Firmenmanagement</td>
                    <td>Car Policy Management</td>
                    <td>Verkäufermanagement</td>
                </tr>
                <tr>
                    <td>Händlermanagement</td>
                    <td>Poolfahrzeugmanagement</td>
                    <td>Registrierungen</td>
                    <td>Fahrer-Vertragszuordnungen</td>
                </tr>
                <tr>
                    <th>Reporting</th>
                    <td>Reporting</td>
                </tr>
                <tr>
                    <th>Persönliche Daten</th>
                    <td>Persönliche Daten ändern</td>
                    <td>Passwort ändern</td>
                </tr>
                <tr>
                    <th>Downloads</th>
                    <td>Downloadcenter</td>
                </tr>
                <tr>
                    <th>Konditionen</th>
                    <td>Datenversorgung</td>
                    <td>Konditions-Stammdaten</td>
                    <td>Konditionslisten
                        <ul>
                            <li>Kundenkonditionslisten</li>
                            <li>Kundenkonditionen – Einzelfahrzeug</li>
                        </ul>
                    </td>
                    <td>Massenkalkulation</td>
                </tr>
                <tr>
                    <th rowspan="6">Admin</th>
                    <td>Berechtigungen</td>
                    <td>Financepolicymanagement</td>
                    <td>Car Policies
                        <ul>
                            <li>Car Policies hochladen</li>
                            <li>Car Policy Gruppen bearbeiten</li>
                            <li>Carcatalog hochladen</li>
                            <li>Baubarkeitskonflikte pflegen</li>
                        </ul>
                    </td>
                    <td>Equipment
                        <ul>
                            <li>Übersicht</li>
                            <li>HPI-Prämien</li>
                            <li>Sonderausstattung Menü</li>
                            <li>Referenzgruppen</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Benutzerimport</td>
                    <td>Workflowprozesse</td>
                    <td>Plugin Variablen</td>
                    <td>Loader
                        <ul>
                            <li>Schwackeloader</li>
                            <li>Jatoloader</li>
                            <li>Calcloader</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Datenmatching
                        <ul>
                            <li>Angleichung</li>
                            <li>Auto Matching</li>
                            <li>Vergleich Typbezeichnung</li>
                            <li>ManMatching</li>
                            <li>Statistik</li>
                            <li>Import/Export</li>
                        </ul>
                    </td>
                    <td>Status</td>
                    <td>Diverses</td>
                    <td>Rules Property-Import</td>
                </tr>
                <tr>
                    <td>Import Properties Datei</td>
                    <td>Export Properties Datei (als XML)</td>
                    <td>XML Property-Import</td>
                    <td>XML Property-Export</td>
                </tr>
                <tr>
                    <td>Import Properties Datei (als XML)</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!--The panel that controls the details for each webpage of the application. -->
    <div id="details" ng-controller="DetailsController">
    
    <div id="navigationPanel">
        <ul>
            <li ng-repeat="detailSource in detailSources" 
                ng-click="selectTabHandler(detailSource)"
                ng-class="{'selectedLink' : detailSource.selected}">{{detailSource.li}}</li>
        </ul>
    </div>
    
    <!-- Here is where the contents of each tab are displayed. -->
    <div id="detailContents" ng-include="activeContent.url"></div>
    </div>
    
    
    <script type="text/JavaScript" src="https://code.angularjs.org/1.2.1/angular.min.js"></script>
    <script type="text/JavaScript" src="js/jquery-2.1.1.js"></script>
    <script type="text/JavaScript" src="js/main.js"></script> 
</body>    
</html>
