#siteMap {
    margin: 0px auto;
    margin-top: -70px;
    padding: 5px;
    overflow: auto;
    width: 1250px;
    box-shadow: 3px 3px 10px #4d4d4d;
    background-color: #fff;
}

/*Format of the main menus*/
#siteMap .tableColumn {
    float: left;
    margin-right: 5px;
}

#siteMap .tableHeader {
    text-align: center;
    background-color: #599720;
    border-color: #599720;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    display: block;
    padding: 10px 5px;
    width: 120px;
}

#siteMap .tableItem {
    display: block;
    background-color: #f6f8f6;
    border-color: #f6f8f6;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #599720;
    margin-top: 5px;
    padding: 10px 5px;
    text-align: center;
    width: 120px;
}


#siteMap .tableItem:hover {
    background-color: #fff;
    cursor: pointer;
}

#details {
    min-height: 300px;
    margin: 50px auto;
    padding: 5px;
    overflow: visible;
    width: 1250px;
    box-shadow: 3px 3px 10px #4d4d4d;
    background-color: #fff;
}

#externalJSfilesDetails tbody tr:hover td {
    background-color: #fff;
    cursor: pointer;
}

#navigationPanel {
    margin: 0px auto;
    margin-top: -20px;
    margin-bottom: 50px;
    width: 1200px;
    overflow: visible
}

#navigationPanel ul li {
    display: inline;
    background-color: #f6f8f6;
    color: #96c69a;
    padding: 15px 10px;
    box-shadow: 3px 3px 10px #4d4d4d;
    margin-top: -15px;
    margin-right: 5px;
}

#navigationPanel ul li:hover {
    color: #599720;
    cursor: pointer;
}