/* Reset */
body, div, header, h1, h2, h3, h4, h5, h6, p, ul, ol, li, table, tbody, thead, td, tr, th {
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
}

header {
    background-color: #599720;
    color: #fff;
    height: 100px;
    min-width: 1250px;
    padding: 20px;
    text-align: right;
}

header h1 {
    font-size: 2em;
}

/*Format of the main menus*/
table th {
    background-color: #599720;
    border-color: #599720;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    padding: 10px 5px;
    text-align: left;
}

table td {
    background-color: #f6f8f6;
    border-color: #f6f8f6;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: #599720;
    padding: 10px 5px;
}

.selectedLink {
    color: #599720 !important;
    background-color: #687;
}


